.main-content-container{
    position: absolute;
    padding: 15px;
    width: 47%;
}

.add-new-record-container{
    position: absolute;
    left: 53%;
    padding: 15px;
    background: #e6e6fa;
    border: 1px solid black;
}

.content-table{
    text-align: center;
    width: 25%;
}

.content-table-container{
}

.content-table-row:hover{
    cursor: pointer;
    background: lightsteelblue;
}

.content-table-row:active{
    background: gray;
    border: black 2px;
}

.transparent-back{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    opacity: 30%;
}

.record-edit-container{
    position: absolute;
    padding: 15px;
    top: 35%;
    left: 35%;
    width: 30%;
    height: 30%;
    background: white;
    align-content: center;
    border: 1px solid black;
}

